
/* decrese */
.bg-color{
    background-color: rgba(196, 3, 3, 0.42);
    border-color: rgba(196, 3, 3, 0.11);
  
  }
  
  .bg-color:hover{
    background-color: rgba(196, 3, 3, 0.42);
    border-color: rgba(196, 3, 3, 0.11)
  }