.arrow-left
{
  clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 99%, 0% 100%);

}

.arrow-center
{
  clip-path: polygon(90% 0, 100% 50%, 90% 99%, 10% 100%, 0 50%, 10% 0);

}

.arrow-right
{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 10% 50%);

}

@media only screen and (max-width:768px) {
  .arrow-left,.arrow-center,.arrow-right{
    clip-path:none;
    
  }
}