body {
  margin: 0;

}

.table-curved {
  border-collapse: collapse;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

.header-text
{
  left:60%;
  top:30%;
  font-size: 1.25rem;
  background-color: rgba(245, 245, 245, 0.75)
}

.arrow-left
{
  clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 99%, 0% 100%);

}

.arrow-center
{
  clip-path: polygon(90% 0, 100% 50%, 90% 99%, 10% 100%, 0 50%, 10% 0);

}

.arrow-right
{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 10% 50%);

}

.rotate
{
  transform: rotate(-45deg);
}


.carousel-show img
{
  height: 580px;
  
}

.carousel-control-prev
{
  left: 70%;
  top:70%;
}

.carousel-control-next
{
  right: 0%;
  top: 70%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
 
  background-size: 100%, 100%;
  background-image: none;
}


.carousel-control-next-icon:after
{
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: white;
}

.carousel-control-prev-icon:after
{
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: white;
}

.carousel-text
{
  left:10%;
  top: 20%;
  background-color:rgba(245, 245, 245, 0.56) ;
  z-index: 4;
  
}

.carousel-text p
{
  font-size: 1.5rem;
}


.carousel-text p span
{
  font-size: 2rem;
}

.offer-text
{
  left: 40%;
  top: 20%;
  transform: rotate(20deg);
  font-size: 1.5rem;
}

.offer-text2
{
  left: 15%;
  top: 5%;
  transform: rotate(-20deg);
  font-size: 1.5rem;
}


.categories-bg
{
  clip-path: polygon(65% 25%, 100% 0%, 100% 80%, 65% 100%, 0 75%, 0 0);
}