.rotate
{
  transform: rotate(-45deg);
}


.carousel-show img
{
  height: 580px;
  
}

.carousel-control-prev
{
  left: 70%;
  top:70%;
}

.carousel-control-next
{
  right: 0%;
  top: 70%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
 
  background-size: 100%, 100%;
  background-image: none;
}


.carousel-control-next-icon:after
{
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: white;
}

.carousel-control-prev-icon:after
{
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: white;
}

.carousel-text
{
  left:10%;
  top: 20%;
  background-color:rgba(245, 245, 245, 0.56) ;
  z-index: 4;
  
}

.carousel-text p
{
  font-size: 1.5rem;
}


.carousel-text p span
{
  font-size: 2rem;
}

.offer-text
{
  left: 40%;
  top: 20%;
  transform: rotate(20deg);
  font-size: 1.5rem;
}

.offer-text2
{
  left: 15%;
  top: 5%;
  transform: rotate(-20deg);
  font-size: 1.5rem;
}




